<html>
<head>
    <title>API documentation</title>

    <link href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

{% for module, api_table in apis.iteritems %}

<h1>{{ module }}</h1>
<hr />

{% for api_name, api_spec in api_table.iteritems %}

<h2>{{ api_name }}<small>{{ api_spec.spec.description }}</small></h2>

<hr />

<h3>
    <span class="label label-success">{{ api_spec.method }}</span>
    {{ api_spec.url }}
</h3>

<hr />

<table class="table table-bordered table-striped table-hover">

<thead>
    <tr>
        <td>参数名</td>
        <td>描述</td>
        <td>获取方式</td>
        <td>类型</td>
        <td>是否必须</td>
        <td>默认值</td>
    </tr>
</thead>

<tbody>

{% for param_name, param_spec in  api_spec.spec.params.iteritems %}

<tr>
    <td>{{ param_name }}</td>
    <td>{{ param_spec.description }}</td>
    <td>{{ param_spec.parser_description }}</td>
    <td>{{ param_spec.type_description }}</td>
    <td>{{ param_spec.required }}</td>
    <td>{{ param_spec.default }}</td>
</tr>

{% endfor %}

</tbody>

</table>

<hr />

 {{ api_spec.spec.result_description }}

 {{ api_spec.spec.error_description }}

{% endfor %}

{% endfor %}
 


</div>

</body>
</html>